/* 
  BASE ELEMENTS
 */

/* links */

a {
  text-decoration: none;
  color: $link-color;
 
  &:hover,
  &:active {
    outline: 0;
    color: $link-color-hover;
  }
}

/* code */

pre.code {
  font-size: $type-size-10;
}
