.footer {
  font-size: $type-size-6;
  color: $gray;
  
  #smiley {
    font-weight: bold;
    width: 20px;
    
    display: inline-block;
    // put a zero width blank space to make the div appear
    &:before{
      content: "\200B";
    }
  }
}
.content a.updated:hover ~ #smiley{
  content: "^^,";
  // color: blue;
  &:after{
    content: "^^,";
  }

  &:before{
    display: none;
  }
}

.footer a {
  font-size: $type-size-5;
  color: $gray;
  &:hover {
    color: $highlight-color;
  }
}

.footer .icon-link {
    font-size: $type-size-5;
    color: $gray;
}